*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #243b55;
}

.switch {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 280px;
  height: 120px;
  margin-left: -140px;
  margin-top: -60px;
  border-radius: 50px;
  background: #cfcfcf;
}

.switch:before {
  content: "";
  z-index: -1;
  position: absolute;
  left: -5px;
  top: -5px;
  width: 290px;
  height: 130px;
  border-radius: 55px;
  background: #eee;
  transition: background-color 0.3s;
}

.switch:hover:before {
  background: #ddd;
}

.checkbox {
  z-index: -10;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.label {
  z-index: 1;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  cursor: pointer;
}

.switch-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 840px;
  height: 100%;
  background: linear-gradient(
    90deg,
    #00c9b2 0,
    #9adc28 280px,
    #ff512f 560px,
    #dd2476 100%
  );
  transition: transform 0.5s;
  transform: translate3d(-560px, 0, 0);
}

.checkbox:checked ~ .label .switch-bg {
  transform: translate3d(0, 0, 0);
}

.switch-dot {
  position: absolute;
  left: 204px;
  top: 50%;
  width: 8px;
  height: 8px;
  margin-left: -4px;
  margin-top: -4px;
  border-radius: 50%;
  background: #fff;
  transition: transform 0.5s;
  transform: translate3d(0, 0, 0);
}

.checkbox:checked ~ .label .switch-dot {
  transform: translate3d(-125px, 0, 0);
}

.switch-on {
  position: absolute;
  left: 177px;
  top: 35px;
  width: 30px;
  height: 56px;
  transition: transform 0.5s;
  transform: translate3d(0, 0, 0);
}

.checkbox:checked ~ .label .switch-on {
  transform: translate3d(-125px, 0, 0);
}

.switch-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.25s 0s cubic-bezier(0.52, -0.96, 0.51, 1.28);
  transform-origin: 100% 50%;
  transform: rotate(45deg) scale(0) translateZ(0);
}

.checkbox:checked ~ .label .switch-inner {
  transition: transform 0.25s 0.25s cubic-bezier(0.67, -0.16, 0.47, 1.61);
  transform: rotate(45deg) scale(1) translateZ(0);
}

.switch-inner:after,
.switch-inner:before {
  content: "";
  position: absolute;
  border-radius: 4px;
  background: #fff;
}

.switch-inner:before {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 9px;
}

.switch-inner:after {
  right: 0;
  top: 0;
  width: 9px;
  height: 100%;
}

.switch-off {
  position: absolute;
  left: 204px;
  top: 50%;
  width: 64px;
  height: 64px;
  margin-left: -32px;
  margin-top: -32px;
  transition: transform 0.5s;
  transform: translate3d(0, 0, 0);
}

.checkbox:checked ~ .label .switch-off {
  transform: translate3d(-125px, 0, 0);
}

.switch-off:after,
.switch-off:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 8px;
  margin-top: -4px;
  border-radius: 4px;
  background: #fff;
  transition: transform 0.25s 0.25s;
}

.checkbox:checked ~ .label .switch-off:after,
.checkbox:checked ~ .label .switch-off:before {
  transition-delay: 0s;
}

.switch-off:before {
  transform: rotate(45deg) scaleX(1) translateZ(0);
}

.checkbox:checked ~ .label .switch-off:before {
  transform: rotate(45deg) scaleX(0) translateZ(0);
}

.switch-off:after {
  transition-timing-function: cubic-bezier(0.67, -0.16, 0.47, 1.61);
  transform: rotate(-45deg) scaleX(1) translateZ(0);
}

.checkbox:checked ~ .label .switch-off:after {
  transition-timing-function: ease;
  transform: rotate(-45deg) scaleX(0) translateZ(0);
}
